body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.wrapperTop{
    background-image: url("https://www.kastapp.co/images/gradient-violet-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    color: white;
    padding: 20px;
    background-color:transparent ;
    position: relative;
}

#kastLogo{
    position: fixed;
    left: 1.75%;
    top: -1.5%;
    height: 30px;
    transition: .3s ease;
}

#kastLogo:hover{
    transform: scale(1.1)
}

ul#dropdownMenu{
    position: fixed;
    top: 15px;
    left: 2%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    
    background: transparent;
    color: white;
}

ul#dropdownMenu > li{
    list-style-type: none;
    position: relative;
    float: left;
    left: 45%;
    padding: 0px 30px;
}

label{
    position: relative;
    display: block;
    cursor: pointer;
}

label:after{
    content: "";
    position: absolute;
    display: block;
    top:50%;
    left: 115%;
    border-top:4px solid white;
    border-bottom:0px solid white;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
}

label:hover,
input:checked ~ label{background:transparent}

input:checked ~ label:after{
    border: 2px solid white;
}

input{
    display:none
}

input:checked ~ ul.dropdownSubmenu{
    max-height: 600px;
  }

ul.dropdownSubmenu{
    max-height: 0;
    overflow: hidden;
    list-style-type: none;
    position: absolute;
    background:white;
    font-family: 'Roboto', sans-serif;
    color: grey;
    font-weight: bold;
    min-width: 50%;
}

ul.dropdownSubmenu li a{
    display: block;
    color: grey;
    white-space: nowrap;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin: 10px 30px 10px 0px;
    text-decoration: none;
    text-align: justify;
}

ul.dropdownSubmenu li a:hover{
    background: white;
}

.premiumButton{
    background-color: transparent;
    border:none;
    font-size: 16px;
    font-weight: bold;
    position: fixed; 
    min-width: 160px;
    left: 76%;
    top: 28px;
}

.premiumButton a{
    color:white
}

.openKast{
    background-color: transparent;
    border: solid 1px white;
    font-family:  'Roboto', sans-serif;
    font-size: 16px;  
    position: fixed;
    min-width: 90px; 
    left: 90%;
    top: 28px;
}

.openKast a{
    color:white
}

#centerImage{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    width: 50%;
}

.infoSection{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    margin: 0% 27% 0% 27%
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 54px;
}

.infoSection p{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.orangeOpenKast{
    background-color: #fe9000;
    border: none;
    border-radius: 3%;
    height: 45px;
    width: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 90px 0px;
}

.orangeOpenKast a{
    color:white;
}


.gridContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 140px;
    grid-row-gap: 40px;
    justify-content: center;
}

.wired{
    grid-column-start: 1;
    grid-row: 1;
}

.nerdist{
    grid-column-start: 2;
    grid-row: 1;
}

.yahooFinance{
    grid-column-start: 3;
    grid-row: 1;
}

.eveningStandard{
    grid-column-start: 1;
    grid-row: 2;
}

.bbc{
    grid-column-start: 2;
    grid-row: 2;
}

.dailyMail{
    grid-column-start: 3;
    grid-row: 2;
}

.featuredSection{
    margin: 100px 0px 100px 0px;
    line-height: 36px;
}

#featured{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

#quote{
    color: #434146;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

#endQuote{
    color: #434146;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    padding: 0px 300px 0px 0px;
}
    
.whatIsKastSection{
   background-image: url("https://www.kastapp.co/images/green-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   padding: 5%;
}

#whatIsKast{
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
}

.kastInfo{
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    margin: 4% 22% 0% 22%;
}